@import "tailwindcss";

@theme {
  --color-brand: #ED217E;
  --color-text-darkest: #262626;
  --color-text-darker: #303030;
  --color-text-dark: #474747;
  --color-text-medium: #5E5E5E;
  --color-text-gray1: #6E6E6E;
  --color-text-gray2: #949494;
  --color-text-gray3: #A8A8A8;
  --color-text-gray4: #C2C2C2;
  --color-text-light1: #E8E8E8;
  --color-text-light2: #F5F5F5;
  --color-text-white: #FFFFFF;

  --font-playfair: "Playfair Display", serif;
  --font-parkinsans: "Parkinsans", sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
}
